body {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6C7A89;
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
  color: #2A2F36;
}

h1 {
  font-size: 3.625rem;
  line-height: 3.48rem;
}

h2 {
  font-size: 1.885rem;
  line-height: 2.465rem;
}

h3 {
  font-size: 1.45rem;
  line-height: 1.25rem;
}

h4 {
  font-size: 1rem;
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #6C7A89;
}

ul {
  font-size: 1rem;
  line-height: 1.8em;
}

blockquote p {
  text-align: center;
  font-size: 1.7em;
  line-height: 1.4em;
  display: inline-block;
  margin: 0.8em auto;
}

blockquote::before {
  content: "";
  display: block;
  width: 90%;
  margin: 2rem auto 1rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

blockquote::after {
  content: "";
  display: block;
  width: 90%;
  margin: 1rem auto 2rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

hr {
  display: block;
  width: 90%;
  margin: 1rem auto 4rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

::selection {
  background: #F583BA;
  color: #2A2F36;
}